.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}


a, a:focus, a:hover, a:visited, a:active {
    text-decoration: none !important;
    color: inherit;
    transition: .2s all ease-in;
}

:root {
    --main-1: #A01789;
    --main-2: #B2038C;
    --main-3: rgba(250, 4, 197, 0.13);
    --hover-1: #CD0198;
    --hover-2: #dd01b1;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
}

input, select, textarea {
    transition: .2s all ease-in !important;
}

input:focus, select:focus, textarea:focus {
    box-shadow: 0 0 2px var(--hover-2) !important;
    border-color: var(--hover-2) !important;
}

.row.row-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.row.row-10 > [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    margin-left: 0;
    font-size: inherit;
}

.btnTheme {
    background: var(--main-1);
    color: #fff !important;
    font-size: 1rem;
    outline: none !important;
    box-shadow: none !important;
    text-transform: uppercase;
    transition: .2s all ease-in;
}

.btnTheme:hover,
.btnTheme:focus {
    background: var(--hover-2);
}

.btnFull {
    width: 100%;
    border-radius: 20px;
    font-size: 1rem;
    outline: none !important;
    box-shadow: none !important;
    transition: .2s all ease-in;
}

.btnTheme01 {
    border: 1px solid var(--main-1);
    color: var(--main-1);
    background: #fff;
    font-size: .95rem;
    outline: none !important;
    box-shadow: none !important;
    text-transform: uppercase;
    transition: .2s all ease-in;
    width: 100%;
    border-radius: 30px;
}

.btnTheme01:hover,
.btnTheme01:focus {
    background: var(--main-1);
    color: #fff;
}

.btnTheme02 {
    background: var(--main-1) !important;
    color: #fff;
    font-size: .95rem;
    outline: none !important;
    box-shadow: none !important;
    text-transform: uppercase;
    transition: .2s all ease-in;
    width: 100%;
    border-radius: 30px;
}

.btnTheme02:hover,
.btnTheme02:focus {
    background: var(--hover-2) !important;
    color: #fff;
}

.btnNext,
.btnPrev {
    background: var(--main-1) !important;
    color: #fff;
    font-size: .95rem;
    outline: none !important;
    box-shadow: none !important;
    text-transform: uppercase;
    transition: .2s all ease-in;
    width: 100%;
    border-radius: 30px;
}

.btnNext:hover,
.btnPrev:hover,
.btnNext:focus,
.btnPrev:focus {
    background: var(--hover-2) !important;
    color: #fff;
}

.btnTheme03 {
    background: #9b91a0 !important;
    color: #fff;
    font-size: .95rem;
    outline: none !important;
    box-shadow: none !important;
    text-transform: uppercase;
    transition: .2s all ease-in;
    width: 100%;
    border-radius: 30px;
}

.btnTheme03:hover,
.btnTheme03:focus {
    background: #6e6772 !important;
    color: #fff;
}

.pageIndex,
.pageBooking {
    background: #f0f0f0;
}

.pageIndex, .pageBooking, .userPage,
.secFooter {
    max-width: 540px;
    margin: 0 auto;
}

.secHeader {
    /*background: #fff;*/
    padding: .5rem 0;
    /*border-bottom: 1px solid #d1d1d1;*/
}

/*.secBackground {*/
/*    background: #fff;*/
/*    border: 1px solid #cecece;*/
/*}*/

.headerRight .headerHeading {
    font-weight: 600;
    font-size: 1.1rem;
}

.headerRight .headerDesc {
    font-size: .95rem;
    color: #777
}

.secContent {
    padding-top: 1rem;
    padding-bottom: 8rem;
    min-height: calc(100vh - 95px);
}

.secContentInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    transition: .2s all ease-in;
}

.secContentInner .secContentIcon {
    font-size: 2rem;
}

.secContentInner .secContentText {
    font-weight: 600;
    font-size: .95rem;
}

.secContentInner.active,
.secContentInner:hover {
    background: var(--main-1);
    color: #fff;
    box-shadow: none;
}

.footerItem {
    padding: 5px 0;
}

.secNavigation {
    position: fixed;
    bottom: 55px;
    z-index: 3;
    width: 100%;
    max-width: 540px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    height: 60px;
    line-height: 60px;
}

.secFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: #fff;
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}

.footerItem:not(.footerHome) > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.footerItem:not(.footerHome) > a > span:first-of-type {
    font-size: 1.4rem;
    color: #222;
}

.footerItem:not(.footerHome) > a > span:last-of-type {
    font-weight: 600;
    font-size: .85rem;
}

.footerItem.footerHome > a {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-1);
    color: #fff;
    font-size: 1.5rem;
}

.footerItem.footerHome {
    border-bottom: 3px solid var(--main-1);
}

.userPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.headerText {
    padding: 0 30px
}

.headerText .headingIcon {
    width: 100px;
    height: 100px;
    background: var(--main-1);
    color: #fff;
    border-radius: 100%;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.headerText .heading01 {
    font-weight: 600;
    font-size: 1.5rem;
    color: #222;
}

.headerText .paragraph01 {
    font-size: 1rem;
    color: #777
}

.formInner {
    padding: 30px 15px;
}

.formInner .form-group {
    position: relative;
}


.formInner .form-group span {
    font-size: 1.1rem;
    color: #777;
}

.formInner .form-group input.form-control {
    border-radius: 40px;
    outline: none !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    font-size: .95rem;
    height: 44px;
    line-height: 44px;
    padding-left: 15px;
}

.userOTP .formInner .form-group input.form-control {
    width: 44px;
    border-radius: 100%;
    margin: 0 4px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 2rem;
    font-weight: bold;
}

.formInner .form-group input.form-control::placeholder {
    font-size: .95rem;
    color: #777;
}


.modalTheme .formInner {
    padding: 0;
}

.modalTheme .formInner .form-group input.form-control {
    height: 34px;
    line-height: 34px;
}

.userPage .userFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 1rem;
}

.userOTP .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userOTP.formInner .form-group input.form-control {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.slideBookingItem {
    outline: none !important;
    box-shadow: none !important;
}

.slideBookingBackground {
    background: #fff;
    border: 1px solid #d1d1d1;
    margin: 0 5px;
}

.bookingAppointmentItem {
    margin: .8rem;
    padding-bottom: .6rem;
    border-bottom: 1px solid #cecece;
}

.bookingAppointmentItem:last-of-type {
    padding-bottom: 0;
    border-bottom: 0;
}

.bookingAppointmentTitle {
    font-size: .9rem;
    font-weight: 600;
    color: #343434;
    margin-bottom: .3rem;
}

.bookingAppointmentStar .fa-color-yellow {
    color: #f9c41e;
}

.bookingAppointmentPrice {
    font-size: .8rem;
}

.bookingAppointmentPrice span {
    color: #f93613;
}

.bookingAppointmentAvatar {
    max-width: 80%;
    margin: 0 auto;
}

.bookingAppointmentChoose {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: auto;
}

.bookingAppointmentChoose::before {
    position: absolute;
    top: 50%;
    left: calc(50% + 1px);
    transform: translate(-50%, -50%);
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    pointer-events: none;
    border-radius: 100%;
    content: "";
    background-color: #fff;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: #d1d1d1 solid 1px;
}

.bookingAppointmentChoose::after {
    position: absolute;
    top: 50%;
    left: calc(50% + 1px);
    transform: translate(-50%, -50%);
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.bookingAppointmentChoose:focus::before,
.bookingAppointmentChoose.active::before {
    background: var(--main-1);
    border-color: var(--main-1);
}

.bookingAppointmentChoose:focus::after,
.bookingAppointmentChoose.active::after {
    background-image: url('../image/checked.svg');
}

.bookingAppointmentAction {
    text-align: right;
}

.bookingAppointmentAction a {
    width: unset;
    font-size: 0.7rem;
    padding: .15rem 1.2rem;
}

.bookingTimeInner {
    padding: 10px;
}

.bookingTimeHeader p {
    margin-bottom: 0;
    font-weight: 600;
    color: var(--main-1);
    font-size: .95rem;
}

.bookingChooseDay,
.appointmentChooseDay {
    margin-top: .7rem;
    display: flex !important;
    justify-content: space-between;
}

.appointmentChooseDay {
    margin-top: 0;
}

.bookingChooseDay .bookingChooseDayItem,
.appointmentChooseDay .appointmentChooseDayItem {
    min-width: calc(100% / 7);
}

.bookingChooseDay .bookingChooseDayItem a,
.appointmentChooseDay .appointmentChooseDayItem a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .2s all ease-in;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    margin: 0 2px;
}

.bookingChooseDay .bookingChooseDayItem a.active,
.bookingChooseDay .bookingChooseDayItem a:hover,
.bookingChooseDay .bookingChooseDayItem a:focus,
.appointmentChooseDay .appointmentChooseDayItem a.active,
.appointmentChooseDay .appointmentChooseDayItem a:hover,
.appointmentChooseDay .appointmentChooseDayItem a:focus {
    background: #EFEFEF;
}

.bookingChooseDay .bookingChooseDayItem a span.bookingChooseDayNumber,
.appointmentChooseDay .appointmentChooseDayItem a span.appointmentChooseDayNumber {
    font-weight: 600;
    color: var(--main-1);
    font-size: 1rem;
}

.bookingChooseDay .bookingChooseDayItem a span.bookingChooseDayText,
.appointmentChooseDay .appointmentChooseDayItem a span.appointmentChooseDayText {
    font-size: .8rem;
    color: #777;
}

.bookingChooseTime::before {
    position: absolute;
    top: 0;
    left: 0px;
    content: "";
    width: 2px;
    height: 100%;
    background: var(--hover-2);
}

.bookingChooseTimeItem {
    position: relative;
    padding-bottom: 2rem;
}

.bookingChooseTimeItem:last-of-type {
    padding-bottom: .2rem;
}


.bookingChooseTimeItem > span {
    position: relative;
    padding-left: 15px;
    top: -3px;
    font-weight: 600;
    color: var(--main-1);
    font-size: .8rem;
}

.bookingChooseTimeItem > span:before {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    content: "";
    top: 1px;
    left: -4px;
    background: var(--main-1);
}

.bookingChooseTimeItem > ul {
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bookingChooseTimeItem > ul > li {
    width: calc(100% / 4);
    padding-right: 8px;
    margin-top: .4rem;
}

.bookingChooseTimeItem > ul > li:nth-child(1),
.bookingChooseTimeItem > ul > li:nth-child(2),
.bookingChooseTimeItem > ul > li:nth-child(3),
.bookingChooseTimeItem > ul > li:nth-child(4) {
    margin-top: 0;
}

.bookingChooseTimeItem > ul > li:nth-child(4n) {
    padding-right: 0;
}

.bookingChooseTimeItem > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: .85rem;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    transition: .2s ease-in all;
}

.bookingChooseTimeItem > ul > li:hover a,
.bookingChooseTimeItem > ul > li:focus a,
.bookingChooseTimeItem > ul > li.active a {
    background: var(--main-3);
    border-color: var(--main-3);
}

.modalTheme .modal-content {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .7);
    background-clip: unset;
}

.modalTheme .modal-content .modal-header {
    position: relative;
    justify-content: center;
    background: var(--main-1);
    color: #fff;
    border-radius: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.modalTheme .modal-content .modal-header .modal-title {
    letter-spacing: .5px;
    font-size: .9rem;
    text-transform: uppercase;
}

.modalTheme .modal-content .modal-header .close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 50px;
    background: var(--main-3);
    color: #fff;
    text-shadow: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
    outline: none;
    box-shadow: none;
    transition: .2s all ease-in;
}

.modalTheme .modal-content .modal-footer {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.modalTheme .modal-content .modal-footer .btnTheme02,
.modalTheme .modal-content .modal-footer .btnTheme03 {
    width: unset;
    font-size: 0.8rem;
    padding: .2rem 1.5rem;
}

.secBackgroundMain {
    background: var(--main-1);
    border: 1px solid var(--main-3)
}

.secBackgroundMain:not(:first-of-type) {
    margin-top: 1rem;
}

.appointmentBody {
    padding: 20px 10px;
}

.appointmentInner .appointmentChooseDay {
    padding: 10px;
}

.appointmentBody .appointmentDesc {
    font-size: .9rem;
    color: #ededed;
    margin-bottom: .8rem;
}

.appointmentBody .appointmentTitle {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.appointmentBody .appointmentTitle span {
    display: inline-block;
    font-size: .95rem;
    color: #ededed;
}

.appointmentBody .appointmentMeta ul li {
    margin-bottom: .8rem;
    font-size: .9rem;
    color: #ededed;
}

.appointmentBody .appointmentMeta ul li:last-of-type {
    margin-bottom: 0;
}

.appointmentBody .appointmentMeta ul li i {
    width: 12px;
    margin-right: 5px;
}

.appointmentAction {
    text-align: center;
}

.appointmentAction a {
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.appointmentAction a:hover,
.appointmentAction a:focus {
    background: #ededed;
    color: var(--main-1)
}

.scroll-x {
    display: inline;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
    padding-bottom: 10px;
}

.scroll-x::-webkit-scrollbar {
    height: 3px;
}

.scroll-x::-webkit-scrollbar-track {
    background: var(--main-3);
}

.scroll-x::-webkit-scrollbar-thumb {
    background: var(--main-1);
}

.scroll-x::-webkit-scrollbar-thumb:hover {
    background: var(--main-2);
}

.profile-form {
    margin: 2rem auto;
    max-width: 480px;
}

.profile-form .form-group {
    position: relative;
    overflow: hidden;
    height: 40px;
    font-size: 14px !important;
    padding: 7px 15px;
    background: #f9f9f9;
    border-radius: 20px;
    border: 1px solid #d9d9d9;
    line-height: 40px;
    margin-bottom: 1rem;
}
.profile-form .form-group label {
    background: transparent;
    box-shadow: none;
    outline: none;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    font-weight: 500;
    color: #a9a9a9;
    transition: .3s all;
    font-size: .85rem;
}

.profile-form .form-group input {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    border: none;
    color: #121212;
    font-size: .95rem;
    padding: 7px 15px;
    padding-left: 90px;
    right: 0;
    outline: none !important;
    box-shadow: none !important;
    border-color: #d9d9d9 !important;
    border-radius: 20px !important;
    height: 45px;
    background: #f8f8f8 !important;
}

.profile-form .form-group input:focus ~ label {
    opacity: 0;
}

.profile-form .form-group input::placeholder {
    color: #121212
}

.profile-action {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    border: 4px solid #fff;
    cursor: pointer;
}

.profile-action img {
    border-radius: 100%;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
}

.profile-action .profile-change-image {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: -10%;
    background: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-action input#profile-avatar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.secUserInfo {
    padding: 15px;
}

.bookingReport {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #cecece !important;
    margin: 0;
    padding: 10px !important;
    margin-top: 10px;
}

.bookingReport:first-child {
    margin-top: 0;
}

.bookingReport .bookingAppointmentTitle {
    color: var(--main-2);
    margin-bottom: 0;
}

.bookingReport .bookingAppointmentPrice {
    text-align: center;
    font-size: .9rem;
}

.notification__main > ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.notification__main > ul > li > a {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    position: relative;
}

.notification__main > ul > li > a > .notification__main-icon {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .9rem;
    justify-content: center;
}

.notification__main > ul > li > a > .notification__main-icon.icon--blue {
    background: #00B5E1;
}

.notification__main > ul > li > a > .notification__main-icon.icon--green {
    background: #0BC777
}

.notification__main > ul > li > a > .notification__main-icon.icon--pink {
    background: #D43C7C
}

.notification__main > ul > li > a > .notification__main-icon.icon--violet {
    background: #713388
}

.notification__main > ul > li > a > .notification__main-content {
    width: calc(100% - 45px);
    padding: 0 10px;
}

.notification__main > ul > li > a > .notification__main-content > .notification__main-content-title {
    font-size: .9rem;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: #343434;
    transition: .2s all ease-in;
}

.notification__main > ul > li > a > .notification__main-content > .notification__main-content-time {
    font-size: .7rem;
    color: #777;
    margin-top: .2rem;
}

.notification__main > ul > li > a:hover > .notification__main-content > .notification__main-content-title {
    color: #111;
}

.notification__main > ul > li > a:hover {
    background: #f34ed740;
    box-shadow: none;
}

.sec-new {
    min-height: calc(100vh - 10px);
}

@media screen and (min-width: 991px) {
    .pageIndex, .pageBooking, .userPage {
        border: 1px solid #d1d1d1;
    }

    .secFooter {
        left: 50%;
        transform: translateX(-50%);
    }

    .headerRight .headerHeading {
        font-size: 1.3rem;
    }

    .headerRight .headerDesc {
        font-size: 1.1rem;
    }

    .bookingAppointmentTitle {
        font-size: 1rem;
    }

    .bookingAppointmentStar {
        font-size: 95% !important;
    }

    .bookingAppointmentPrice {
        font-size: .95rem !important;
    }

    .bookingAppointmentAvatar {
        max-width: 60%;
    }

    .bookingAppointmentChoose {
        width: 21px;
        height: 21px;
    }

    .bookingAppointmentChoose::before,
    .bookingAppointmentChoose::after {
        width: 1.1rem;
        height: 1.1rem;
    }

    .bookingTimeHeader p,
    .bookingChooseTimeItem > span {
        font-size: 1.1rem;
    }

    .bookingChooseDay .bookingChooseDayItem a span.bookingChooseDayNumber,
    .appointmentChooseDay .appointmentChooseDayItem a span.appointmentChooseDayNumber {
        font-size: 1.1rem;
    }

    .bookingChooseDay .bookingChooseDayItem a span.bookingChooseDayText,
    .appointmentChooseDay .appointmentChooseDayItem a span.appointmentChooseDayText {
        font-size: 1rem;
    }

    .bookingChooseTimeItem > ul > li > a {
        font-size: 1rem;
        height: 40px;
    }
}